<html><head> 
	<meta charset = "UTF-8"> 
	<link rel="stylesheet" type="text/css" href="/css/normalize.css"/> 
	<link rel="stylesheet" type="text/css" href="/css/skeleton.css"/> 
	<meta http-equiv="refresh" content="3">
        <link rel="icon" type="image/png" href="images/favicon.png">
</head>
<body>
<H1> Database: {{ db_name }}  </H1>

<H2> Measurement set: {{ measurement }} </H2>

<table class="u-full-width">
  <thead>
    <tr>
    {% for i in columns %}
      <th> {{ i }} </th>
    {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for i in values %}
      <tr>
        {% for j in i %}
          <td> {{ j }} </td>
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>


</body>
</html>
