<!DOCTYPE html>
<html><head> 
	<meta charset = "UTF-8"> 
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title> µMEC </title>
	<link rel="stylesheet" type="text/css" href="/css/styles.css"/> 
        <link rel="icon" type="image/png" href="/images/favicon.ico">
	<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
	<nav class="bd-tabs">
  <div class="tabs">
		<ul>
    	<li >
      	<a href="config.html">Config</a>
			</li>
     	<li >
				<a href="pods.html">Pods</a>
      </li>
    </ul>
  </div>
  </nav>
        

<section class="section">
	<div class="container">
		<H1 class="title"> Welcome to µMEC! </H1>
</section>

Happy to meet you! Select <a href="config.html">Config</a> to see the configuration of the µMEC, or <a href="running.html"> Pods </a> </body> to see the currently running pods.
</html>
