<!DOCTYPE html>
<html{% if(o.htmlWebpackPlugin.files.manifest) { %} manifest="{%= o.htmlWebpackPlugin.files.manifest %}"{% } %}>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{%=o.htmlWebpackPlugin.options.title || 'Webpack App'%}</title>
    <link rel="icon" href="/favicon.ico">
    {% for (var css in o.htmlWebpackPlugin.files.css) { %}
    <link href="{%=o.htmlWebpackPlugin.files.css[css] %}" rel="stylesheet">
    {% } %}
    <style>
      body {padding: 0; margin: 0;}
    </style>
  </head>
  <body>
    <div id="app" style="height: 100%;">
    </div>
  </body>
</html>
